body {
  background-color: #eed4fb;
  font-family: 'Waiting for the Sunrise', cursive; 
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  font-weight: bold;
}

/* Titles */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Waiting for the Sunrise', cursive; 
  font-weight: 300;
  color: #333;
}
p {
  line-height: 20px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

/* Links */

a {
  color: #1abc9c;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before, a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* Header Wrap */

#headerwrap {
  background-color:Orchid;
  padding-top: 80px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 300px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerwrap h1 {
  font-size: 80px;
  color: white;
}

#headerwrap h3 {
  font-size: 20px;
  color: white;
}

/* Intnro Wrap */

#intro {
  background: #2c3e50;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
}

#intro h5, p {
  color: white;
}

#intro i {
  color: white;
  font-size: 30px;
  padding-right: 8px;
  vertical-align: middle;
}

#skillswrap {
  background: #eed4fb;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
}

#skillswrap h5, p {
  color: black;
}

#footwrap {
  background: #2f2f2f;
  padding-top: 50px;
  padding-bottom: 50px;
}

#footwrap p {
  color: black;
}

#footwrap h5 {
  color: black;
}

#footwrap t {
  font-weight: 700;
}

#footwrap i {
  padding-right: 8px;
  color: black;
}

/* Copyright Wrap */

#copyrights {
  background: #222222;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

#copyrights p {
  margin: 0 0 5px 0;
}

.credits {
  color: #999;
}

/* Global Values */

.desc {
  padding-top: 50px;
}

.desc p {
  color: #2f2f2f;
}

.desc t {
  color: black;
  font-weight: 500;
  font-size: 14px;
}

.desc imp {
  padding: 2px;
  color: white;
  background: Orchid;
}

.desc more {
  color: black;
    font-size: 14px;
	  font-weight: 500;
}

sm {
  font-size: 12px;
  color: Gray;
}

/* Contact Form */

.contact-form label {
  color: #999;
}

.contact-form input, .contact-form textarea {
  padding: 10px 12px;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  height: auto;
}

.contact-form .form-send {
  text-align: center;
}

.contact-form .form-send button {
  background: #44bbaa;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

.contact-form .form-send button:hover {
  background: #23c8b1;
}

.contact-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact-form .loading {
  display: none;
  color: #555;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin: 15px 0;
}

.contact-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

@-webkit-keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.contact-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}

.contact-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}
